# Dependencies
node_modules/
.pnpm-store/

# Build outputs
.next/
out/
dist/
build/
.expo/
.expo-shared/
web-build/

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

# Expo / RN
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
ios/
android/

# Supabase local
supabase/.branches
supabase/.temp
